*{
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root{
    --color-main:#2795D2;
    --color-button-active:#1E7596;
}

.active{
    display: block !important;
}

#containerModal{
    width: 70%;
    height: 950px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin: 5vw 16vw;
    padding-top: 15px;
    background-color: #fefefe;
    position: absolute;
    display: none;
}

.fechar{
    position: absolute;
    width: 2.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5vh;
    right: 38px;
    top: 1.5vh;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.fechar img{
    width: 40px;
    height: 40px;
}

#headerVaga{
    width: 88%;
    height: 11vh;
    margin-top: 20px;
    display: flex;
    border-bottom: 1px solid rgb(0, 0, 0);
    align-items: center;
    margin: 0 auto 0 auto;
}

#imgPreviewEmpresa{
    width: 100px;
    height: 100px;
    margin: 0 15px 0 10px;
    border-radius: 5px;
    background-color: burlywood;
}

#informacoesVaga{
    width: 90%;
    height: inherit;
    padding-top: 5px;
}

#tituloDeficienciaVaga{
    display: flex;
    justify-content: space-between;
    padding-right: 1vw;
}

#tituloVaga{
    font-size: 23px;
    font-family: 'Poppins';
    color: black;
}

#deficienciaVaga{
    width: fit-content;
    height: 0.5vh;
    padding: 1.3vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-size: clamp(1.2rem, 0.1vh, 3rem);
    margin: 1vh 0 0 0 ;
    background-color: var(--color-main);
    color: white;
}

#nomeEmpresa{
    margin-bottom: 1vh;
    color: black;
}


#nomeEmpresa, #localVaga{
    display: flex;
    align-items: center;
}

#nomeEmpresa img{
    width: 2%;
    height: 1.8vh;
}

#nomeEmpresa p{
    margin-left: 3px;
    font-size: 16px;
    font-family: 'Poppins';
    color: black;
}

#localVaga img{
    width: 1.7%;
    height: 1.8vh;
}

#localVaga p{
    margin-left: 3px;
    font-size: 16px;
    font-family: 'Poppins';
    color: black;
}

#buttonsContainer{
    width: 27.5%;
    height: 3.3vh;
    margin: 0.5vh 0 0 4.2vw;
    display: flex;
    column-gap: 0.2vw;     
}

.formatacaoButton{
    height: 3.2vh;
    width: fit-content;
    padding: .5vh;
    border-radius: 5px;
    font-family: 'Poppins';
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.formatacaoButton img{
    width: 0.8vw;
    height: 1.9vh;
    margin-right: 0.2vw;
}

.active{
    color: white;
    background-color: var(--color-button-active);
}

.activeSec{
    color: white;
    background-color: #6D6D6D;
}

#containerDescricao{
    width: 88%;
    height: 640px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0 auto 0 auto;
    border-bottom: solid 1px black;
}

.topicoContainer{
    min-width: 100px;
    width: auto;
    height: auto;
    min-height: 100px;
    margin-bottom: 30px;
}

.formatacaoTitulo{
    font-family: 'Poppins';
    font-size: 1.3rem;
    color: #3d3d3d;
}

.tituloContainer{
    display: flex;
}

.textoContainer{
    width: 50%;
    height: auto;
    min-height: 20px;
    margin-left: 26px;
}

.tituloContainer img{
    margin-right: 3px;
}

.formatacaoTexto{
    font-family: 'Poppins';
    font-size: 1.3rem;
    color: #6D6D6D;
}

#footerModal{
    width: 88%;
    height: 50px;
    margin: 1vh auto 0 auto;
    display: flex;
    align-items: center;
}

#footerModal img{
    width: 55px;
    height: 55px;
    border-radius: 45px;
    background-color: blanchedalmond;
}

#footerModal a{
    margin-left: 10px;
    font-size: 1.3rem;
    text-decoration-line: underline;
    color: #329DD9;
    font-family: 'Poppins';
}