.notFound{
    width: 400px;
    height: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.imgNotFound{
    width: 400px;
    height: 400px;
}

.titleNotFound{
    color: #cccccc;
    font-size: 1.5em;
}

.notFoundContainer{
    min-height: 250px;
    width: 35vw;
    background-color: #fefefe;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}